<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Twitter Emoji Map</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="app">
  <!-- Content -->
  <div class="container" ng-controller="CountryController as vm">
    <!-- List of countries -->
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Country</th>
          <th>Most Popular Emoji</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="country in vm.countries">
        <td>{{ country.name }}</td>
        <div ng-if="country.emoji != null">
          <td>&#x1F601</td>
        </div>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

  <!-- Angular -->
  <!-- Modules -->
  <script src="app/app.module.js"></script>
  <script src="app/country.controller.js"></script>
  <script src="app/country.service.js"></script>
</body>
</html>
