<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Twitter Emoji Map</title>

  <link href="https://bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet">
  <link href="app/style.css" rel="stylesheet">
</head>
<body ng-app="app">
  <!-- Content -->
  <div class="container" ng-controller="CountryController as vm">
    <h2>Twitter Emoji Map</h2>
    <p>An application that will track geolocated tweets containing emojis to a country! The most popular emoji will be posted
      next to the country! We also track piles of poop!</p>
    <!-- List of countries -->
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search by country..." ng-model="query[queryBy]">
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Country</th>
          <th>Most Popular Emoji</th>
          <!-- Poo emoji count -->
          <th>&#x1F4A9 Count</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="(countryCode, countryInfo) in vm.countries">
        <td class="lead">{{ countryInfo.name }}</td>
        <td class="lead">
            <p ng-if="countryInfo.mostEmojiOccurrences && countryInfo.mostEmojiOccurrences > 0">
              {{ countryInfo.mostPopularEmoji }}
              {{ countryInfo.mostEmojiOccurrences }}
            </p>
        </td>
        <td class="lead">
          <!-- Poo emoji count -->
          <p ng-if="countryInfo.emojiOccurrences['💩']">
            &#x1F4A9
            {{ countryInfo.emojiOccurrences['💩'] }}
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

  <!-- Angular -->
  <!-- Modules -->
  <script src="app/app.module.js"></script>
  <script src="app/country.controller.js"></script>
  <script src="app/country.service.js"></script>
</body>
</html>
